In [3]:
import pandas as pd

In [4]:
file_path = './data/Individual_Provider_Network_Data__2012_Quarter_1.csv'
df_2012 = pd.read_csv(file_path, encoding='cp1252')

C:\Users\kyung\AppData\Local\Temp\ipykernel_26512\1574146377.py:2: DtypeWarning: Columns (2,3,4,5,62,68,70,72,74,82,83,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2012 = pd.read_csv(file_path, encoding='cp1252')

In [7]:
# Get the columns to keep (every other column)
selected_columns = ['Lname', 'Fname', 'sitename', 'staddres', 'city', 'state', 'county', 'mcaidind']
df_filter_2012 = df_2012[selected_columns]

# Group by 'county' column and count occurrences of 0 or 1 in 'indicator' column
grouped = df_filter_2012.groupby(['county'])['mcaidind'].value_counts().unstack().fillna(0)

# Calculate ratio of 1s to the total occurrences of 0s and 1s
grouped['medicaid_acceptance_rate'] = grouped[1] / (grouped[0] + grouped[1])
grouped['medicaid_acceptance_rate'] = (grouped['medicaid_acceptance_rate'] * 100).round(1)

# Reset index to keep 'county' as a column
grouped = grouped.reset_index()

# Rename column names
grouped = grouped.rename(columns={grouped.columns[1]: 'medicaid_rejected'})
grouped = grouped.rename(columns={grouped.columns[2]: 'medicaid_accepted'})

In [6]:
# File path where you want to save the CSV file
output_file_path = './data/outputs/medicaid_acceptance_rate_counties_2012_Quater1.csv'

# Export 'result_df' DataFrame to a CSV file
grouped.to_csv(output_file_path, index=False)

In [8]:
print(df_2012['county'])

                 Lname       Fname         npi  licnum    medsid      planid  \
0                  LIU     XIN-HUI  1245565456     946       NaN         NaN
1                   DU      KEPING  1649397084    1481       NaN         NaN
2                   LI  CHANGSHENG  1154554996    2681       NaN         NaN
3              MOLLICA       PETER  1285683508    3105       NaN         NaN
4               HARRIS   MARIANTHA  1275615973    3547       NaN         NaN
...                ...         ...         ...     ...       ...         ...
1033596        Appollo    Jennifer  1578896825  401210  03244906  1578896825
1033597         Dorsey       Doris  1255411732  420117   2791353  1255411732
1033598  Ortiz-Morales       Hilda  1902008832  430029  02931822  1902008832
1033599         Garcia      Haydee  1720215015  430323  03322694  1720215015
1033600         Garcia      Haydee  1720215015  430323  03322694  1720215015

                                  sitename rmnumber                  staddres  \
0                             LIU, XIN-HUI      NaN  42-11 College Point Blvd
1                               DU, KEPING      NaN        193 N Wellwood Ave
2                           CHANG SHENG LI      NaN           175 KING STREET
3                         PETER W MOLLICA.      NaN     585 Schenectady Ave..
4        BRONX METRO HEALTHCARE MEDICAL PC      NaN           432 EAST 149 ST
...                                    ...      ...                       ...
1033596              HELP PSI SERVICES INC      NaN        1543 Inwood Avenue
1033597                           MMC CHCC      NaN     305 East 161st Street
1033598             MMC FAMILY CARE CENTER       XX       3444 Kossuth Avenue
1033599       COMMUNITY HEALTHCARE NETWORK      NaN         36-11 21st Street
1033600       COMMUNITY HEALTHCARE NETWORK      NaN        97-04 Sutphin Blvd

                city  ... Lang3  Lang4  Lang5  Lang6  Lang7  areacode  \
0           FLUSHING  ...   NaN     ZH    NaN    NaN    NaN       718
1        LINDENHURST  ...   NaN     ZH    NaN    NaN    NaN       917
2          CHAPPAGUA  ...   NaN     ZH    NaN    NaN    NaN       914
3           BROOKLYN  ...   NaN    NaN    NaN    NaN    NaN       718
4              BRONX  ...   NaN    NaN    NaN    NaN    NaN       718
...              ...  ...   ...    ...    ...    ...    ...       ...
1033596        BRONX  ...    99     99     99     99     99       718
1033597        BRONX  ...    99     99     99     99     99       718
1033598        BRONX  ...    99     99     99     99     99       718
1033599      ASTORIA  ...    99     99     99     99     99       718
1033600      JAMAICA  ...    99     99     99     99     99       718

           phone     planno                     plan           subtime
0        3219688  1234037.0  COMPREHENSIVE CARE MGMT  01APR12:00:00:00
1        2997486  1234037.0  COMPREHENSIVE CARE MGMT  01APR12:00:00:00
2        2380041  1234037.0  COMPREHENSIVE CARE MGMT  01APR12:00:00:00
3        6045388  1234037.0  COMPREHENSIVE CARE MGMT  01APR12:00:00:00
4        6187522  1234037.0  COMPREHENSIVE CARE MGMT  01APR12:00:00:00
...          ...        ...                      ...               ...
1033596  2995500        NaN        SELECT HEALTH SNP  01APR12:00:00:00
1033597  5792500        NaN        SELECT HEALTH SNP  01APR12:00:00:00
1033598  9208542        NaN        SELECT HEALTH SNP  01APR12:00:00:00
1033599  4827772        NaN        SELECT HEALTH SNP  01APR12:00:00:00
1033600  6577088        NaN        SELECT HEALTH SNP  01APR12:00:00:00

[1033601 rows x 90 columns]